- title t('workshop.title', host: @workshop.host.name, date: humanize_date(@workshop.date_and_time))

= render partial: 'meta_tags', locals: { workshop: @workshop }

.stripe.reverse
  .row
    .large-12.columns
      %h2
        = t('workshops.title', host: @workshop.host.name)
        %br
        %small #{humanize_date(@workshop.date_and_time)} #{@workshop.distance_of_time}
        #workshop-time.time
          %i.material-icons
            access_time
          = @workshop.start_and_end_time
      - if @workshop.date_and_time.past?
        %label.label.warning This event has already taken place.
  %section#banner
    .row
      .medium-12.columns
        %p.lead
          = t("workshops.lead")
        %p.description
          = sanitize(@workshop.description)

        - unless current_user and current_user.banned?
          = render 'actions'

.stripe.reverse
  .row
    = render partial: 'shared/venue', locals: { venue: @workshop.host, address: @workshop.address}

    #sponsors
      .small-12.column
        %h3 Sponsors
        %ul.row.no-bullet
          - @workshop.sponsors.each do |sponsor|
            %li.small-4.columns
              = image_tag(sponsor.avatar, class: 'sponsor', alt: sponsor.name)
              %p
                = link_to sponsor.name, sponsor.website

.stripe.reverse
  = render partial: 'members/organisers_grid', locals: { members: @workshop.organisers, show_info: false }
